/* .delete-btn {
  float: right;
  color: #e74944;
} */
#cssBtn{
  background-color: #4E96A6; /* Green */
  border: solid;
  border-color:#025E73;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

/*Mouse over delete*/

#delete-btn:hover{
  background-color: #4E96A6;
  border-color:#4E96A6;
}
/* mouse over link */
#cssBtn:hover {
  background-color: #025E73;
  border-color:#4E96A6;
}