#schedCard {
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 6px solid white;
    box-shadow: 0 3px 6px #74888C, 0 3px 6px #74888C;
    margin: 2 auto;
    margin-top: 30px;
  }
  /* mouse over link */
.cssbtn:hover {
  background-color: #025E73;
  border-color:#4E96A6;
}
.cssbtn{
  background-color: #4E96A6; /* Green */
  border: solid;
  border-color:#025E73;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}