h4 {
  color:#74888C;
}
.mainfooter {
    display:inline;
    min-width: 100%;
    position: -webkit-fixed; /* Safari */
    bottom: 0;
    position: absolute;
    color: #F2F2F2
  }
  .pages{
    color:#74888C;
}
.navbar-brand{
  margin-left: 10%;
  text-align:left;
}
.footer {
  border-bottom: 1px solid #025E73;
  background-color: #024059;
  margin-top: 15px;
}
ul > li {
    display:inline;
}

* unvisited link */
a:link {
  color: #F2F2F2;
}

/* visited link */
a:visited {
  color:#74888C;
}

/* mouse over link */
a:hover {
  color: #F2F2F2;
}

/* selected link */
a:active {
  color: #025E73;
}