.mainfooter {
    display:inline;
    min-width: 100%;
    position: -webkit-sticky; /* Safari */
    bottom: 0;
    position: fixed;
    
  }
  .pages{
    color:white;
}
.navbar-brand{
  margin-left: 10%;
  text-align:left;
}
.footer {
  border-bottom: 1px solid #ccc;
  background-color: grey;
  margin-top: 10px;
}
ul > li {
    display:inline;
}
 
  