#aboutCard {
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 6px solid white;
    box-shadow: 0 3px 6px #74888C, 0 3px 6px #74888C;
    margin: 2 auto;
    margin-top: 30px;
  }