.jumbotron {
    padding: 0px;
    margin: 0px; 
    position: static; 
    border: 2px solid #74888C;
    
}

img {
    max-width: 200px;
    height: auto;
    margin:10px;
    
  }
#text{
    padding:10px;
    margin:10px;
    
}
.jumbotron-billboard .imgb {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #000 url("../../assets/img/team-konnected.jpg") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}